<template>
    <div>
        <Sitenav :items="[
            {text: $t('sitenav_label_user'), href: '/user'}, 
            {text: $t('sitenav_label_case'), href: '' },
            {text: $t('sitenav_label_caseshow'), href: '/user/case/caseshow'},
        ]"
        >
        </Sitenav>

        <v-row justify="center" class="mt-6" no-gutters>
            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-center">
                <Dialog 
                    ref="component_dialog"
                    :ref_case="ref_case_value"
                    :filterbar="false"
                    :filterbar_messages="true"
                    :filterbar_journals="false"
                >
                </Dialog>
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-center">
                <Caseedit 
                    :ref_case_value="ref_case_value"
                    :ref_case_isnew="ref_case_isnew"

                    v-on:ev_caseedit_submit__success="() => this.$refs['component_dialog'].$fetch()"
                    v-on:ev_caseedit_submit__failure="() => this.$refs['component_dialog'].$fetch()"
                >
                </Caseedit>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

import { RndGen } from '~/tsmodules/rndgen'
import { ApiAuthUser } from '~/tsmodules/api/auth'

export default Vue.extend({
    data() {
        return {
            tmp_case_value: '' as string,
        }
    },

    computed: {
        ref_case_value(): string {
            var tmp_case_value = new ApiAuthUser(this.$tsmapi.eel()).AuthUserState()?.computed_case_id! || ''
            if(tmp_case_value === '' && this.tmp_case_value !== '') {
                return this.tmp_case_value;
            }
            if(tmp_case_value === '' && this.tmp_case_value === '') {
                this.tmp_case_value = new RndGen().UUIDv4()
                return this.tmp_case_value;
            }
            return tmp_case_value
        },
        ref_case_isnew(): boolean {
            var tmp_case_value = new ApiAuthUser(this.$tsmapi.eel()).AuthUserState()?.computed_case_id! || ''
            return tmp_case_value === ''
        },
    },  
})
</script>

<style scoped>

</style>
