<template>
    <div>
        <v-row no-gutters>
            <v-col cols="12">
                {{ $t('caselistnoelement_label_empty') }}
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({

})
</script>

<style scoped>

</style>
