<template>
    <div>
        <LoadingCircle v-if="$fetchState.pending === true"></LoadingCircle>
        
        <v-data-table
            v-else-if="data.length > 0"

            :items="data"
            :headers="head"

            :items-per-page="-1"

            :server-items-length="data_length"
        >
            <template
                v-slot:item="{ item, index }"
            >  
                <CaselistElement
                    :key="item.id + '#' + index.toString()"
                    :data="item"
                    @click.native="ev_caselist_element_click(item)"
                >
                </CaselistElement>
            </template>
        </v-data-table>

        <template v-else-if="data.length === 0">
            <CaselistNoElement></CaselistNoElement>
        </template>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelCase } from '~/tsmodules/api/case/models'

export default Vue.extend({
    data() {
        return {
            page_size: 24,
            page_number: 0,

            data: [] as Array<IModelCase>,
            data_length: 0,

            head: [
                { text: 'Betreff', value: 'subject', align: 'start', width: '65%', sortable: false, filterable: false, },
                { text: 'Erstellt', value: 'created', align: 'center', width: '15%', sortable: false, filterable: false, },
                { text: 'Aktivität', value: 'activity', align: 'center', width: '15%', sortable: false, filterable: false, },
                { text: 'Status', value: 'status', align: 'center', width: '5%', sortable: false, filterable: false, },
            ],
        }
    },

    async fetch() {
        Promise.all([
            await this.$tsmapi.case().CaseGetAll(false, false, false, false, true, false, false),
            // await (await this.$tsmapi.case().CaseCount(false, false, false, false, false, false, false)),
        ])
        .then((e) => {
            this.data = e[0]
            this.data_length = e[0].length
            // this.data_length = e[1]
        })
        .catch((e) => {
            // silent
        })
    },

    methods: {
        ev_caselist_element_click(v: IModelCase) {
            this.$emit("ev_caselist_element_click", v)
        },
    }
})
</script>

<style scoped>

</style>
