<template>
    <tr>
        <td class="text-left">
            {{ get_subject }}
        </td>

        <td class="text-center">
            {{ get_creation_date }}
        </td>

        <td class="text-center">
            {{ get_activity_date }} 
        </td>

        <td class="text-center">
            <v-tooltip 
                v-if="get_activity_user === true"
                bottom
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-icon
                        small
                        color="red darken-2"
                        v-bind="attrs"
                        v-on="on"
                    >
                        mdi-dots-circle
                    </v-icon>
                </template>
                <span>by {{ get_activity_username }}</span>
            </v-tooltip>

            <v-tooltip 
                v-if="get_activity_mgmt === true"
                bottom
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-icon
                        small
                        color="green darken-2"
                        v-bind="attrs"
                        v-on="on"
                    >
                        mdi-dots-circle
                    </v-icon>
                </template>
                <span>by {{ get_activity_username }}</span>
            </v-tooltip>
        </td>
    </tr>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { HrDate } from '~/tsmodules/hrdate'
import { IModelCase } from '~/tsmodules/api/case/models'

export default Vue.extend({
    props: {
        data: {
            type: Object as PropType<IModelCase>, 
            required: true,
        },
    },

    computed: {
        get_subject(): string {
            if(this.data.messages.length === 0 || this.data.messages[0].payload?.subject === null) {
                return ""
            }

            if(this.data.messages[0].payload.subject.length <= 60) {
                return this.data.messages[0].payload.subject
            } 
            else {
                return this.data.messages[0].payload.subject.substr(0, this.data.messages[0].payload.subject.lastIndexOf(' ', 60)) + " ..."
            }
        },
        get_creation_date(): string {
            var locale = (this.$i18n.locales as { code: string, file: string }[]).find((e) => e.code === this.$i18n.locale)?.file.split('.')[0] || 'de-DE'
            return new HrDate(locale).GetTimeDate(this.data.response.creationDate!)
        },
        get_activity_date(): string {
            var locale = (this.$i18n.locales as { code: string, file: string }[]).find((e) => e.code === this.$i18n.locale)?.file.split('.')[0] || 'de-DE'
            return this.data.messages.length !== 0 ? new HrDate(locale).GetTimeDate(this.data.messages[this.data.messages.length-1].response.creationDate!) : '-'
        },
        get_activity_username(): string {
            if(this.data.messages.length === 0) {
                return '-'
            }

            this.data.messages.sort((x, y) => (x.response.creationDate!) > (y.response.creationDate!) ? 1 : -1)
            if(this.data.messages[this.data.messages.length-1].computed_author === null) {
                return this.$t('caselistelement_messagefrom_anon').toString()
            }
            else {
                return this.data.messages[this.data.messages.length-1].computed_author?.response.name!
            }
        },
        get_activity_user(): boolean {
            if(this.data.messages.length === 0) {
                return false
            }

            this.data.messages.sort((x, y) => (x.response.creationDate!) > (y.response.creationDate!) ? 1 : -1)
            if(this.data.messages[this.data.messages.length-1].computed_author === null) {
                return true
            }
            else {
                return false
            }
        },
        get_activity_mgmt(): boolean {
            if(this.data.messages.length === 0) {
                return false
            }

            this.data.messages.sort((x, y) => (x.response.creationDate!) > (y.response.creationDate!) ? 1 : -1)
            if(this.data.messages[this.data.messages.length-1].computed_author === null) {
                return false
            }
            else {
                return true
            }
        },
    }
})
</script>

<style scoped>
.caselist-element-container {
    cursor: pointer;
}
</style>
