<template>
    
    <v-sheet 
        rounded
        outlined 
        color="primary lighten-1"
    >
        <v-card
            outlined
        >
            <v-row no-gutters align="center">
                <v-col cols="2" class="cardleft-container">
                    <v-icon
                        x-large
                    >
                        mdi-information-variant
                    </v-icon>
                </v-col>

                <v-col cols="10" class="cardright-container">
                    <v-card-text 
                        v-if="head === true"
                        class="cardright-title-text ma-0 py-1"
                    >
                        <slot name="head"/>
                    </v-card-text>

                    <v-divider 
                        v-if="head === true && body === true"    
                        class="mr-6" 
                    />
                
                    <v-card-text 
                        v-if="body === true"
                        class="cardright-body-text ma-0 py-1"
                    >
                        <slot name="body"/>
                    </v-card-text>
                </v-col>
            </v-row>
            
        </v-card>
    </v-sheet>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        body: {
            type: Boolean,
            default: true,
        },
        head: {
            type: Boolean,
            default: true,
        },
    },
})
</script>

<style scoped>
.cardleft-container {
    text-align: center;
}

.cardright-container {
    text-align: left;
}
.cardright-title-text, .cardright-title-text * {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
    color: #000;
    text-decoration: none !important;
}
.cardright-body-text, .cardright-body-text * {
    font-family: 'Baloo2-Regular';
    font-size: 16px;
    color: #000 !important;
    text-decoration: none !important;
}
</style>
