<template>
    <div 
        :style="{ 'height': height }"
        class="container"
    >
        <nuxt-link 
            :to="link" 
            class="container-inner"
        >
            <slot name="body"/>
        </nuxt-link>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        link: {
            type: String,
            default: '/',
        },
        height: {
            type: String,
            default: '100px',
        }
    },
})
</script>

<style scoped>
.container {
    width: 100%; 

    border-radius: 5.5px;

    background: var(--v-primary-lighten1);
}
.container-inner {
    width: 100%; 
    height: 100%; 
    
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-decoration: none;

    font-family: 'Baloo2-Regular';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.6px;
    color: var(--v-primarytext-base);
}
</style>
