<template>
    <v-select
        :label="$t('inlinelanguage_label_language')"
        v-model="lang_select"
        :items="langs__value"
        item-text="name"
        item-value="code"
        prepend-icon="mdi-translate"
        v-on:change="ev_inlinelanguage_change"
        menu-props="auto"
        class="form-select"
    ></v-select>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            langs__value: [] as Array<{ name: string, code: string }>,
            lang_select: {} as { name: string, code: string }
        }
    },

    props: {
        langs: {
            type: [] as PropType<Array<{ name: string, code: string }>>,
            default: () => []
        },
        lang_preselect: {
            type: String,
            default: null,
        },
    },

    watch: {
        langs: {
            immediate: true,
            handler: function(nv: Array<{ name: string, code: string }>, ov: Array<{ name: string, code: string }>) {
                this.langs__value = nv
            },
        },
    },

    methods: {
        ev_inlinelanguage_change(data: string) {
            // data: en || de || .. 
            if(data !== '') {
                this.$emit('ev_inlinelanguage_change', data)
                this.langs__value = this.langs__value.filter((e) => e.name !== '')
            }
        },
    },

    mounted() {
        if(this.lang_preselect === null) {
            this.langs__value.unshift({ name: '', code: '' })
            this.lang_select = this.langs.find((e) => e.code === '')!
        }
    }
})
</script>

<style scoped>
.form-select {
    width: 100%;
}
</style>
