<template>
    <div>
        <div v-for="(event, index) in data" :key="index">
            <v-divider
                v-if="index !== 0"
            />
            <v-row>
                <v-col cols="3">
                    {{ event.datetime }}
                </v-col>
                <v-col cols="9">
                    {{ event.text }}
                </v-col>
            </v-row>
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {

        }
    },

    props: {
        data: {
            type: [] as PropType<Array<{ datetime: string, text: string }>>,
            default: [],
        },
    },
})
</script>

<style scoped>

</style>
