<template>
    <div>
        <Sitenav :items="[
            {text: $t('sitenav_label_startpage'), href: '/' },
            {text: $t('sitenav_label_content'), href: '' },
            {text: $t('sitenav_label_impressum'), href: '/impressum'},
        ]"
        >
        </Sitenav>

        <v-row justify="center">
            <v-col :sm="10" :md="10" :lg="6" class="text-left">
                <ContentGet 
                    name="impressum"
                    lang="de"
                ></ContentGet>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({

})
</script>

<style scoped>

</style>
