<template>
    <div>
        <Sitenav :items="[
            {text: $t('sitenav_label_startpage'), href: '/' },
        ]"
        >
        </Sitenav>

        <v-row 
            justify="center"
        >
            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-center">
                <AssetsImageGet
                    name="logolarge"
                    width="60%"
                >
                </AssetsImageGet>

                <v-divider
                    class="my-6"
                    style="border-bottom: .3px solid #CCC;" 
                />

                <ContentGet
                    name="landingpage"
                    lang="de"
                >
                </ContentGet>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({

})
</script>

<style scoped>

</style>
