<template>
    <div>
        <Sitenav :items="[
            {text: $t('sitenav_label_mgmt'), href: '/mgmt'}, 
            {text: $t('sitenav_label_case'), href: '' },
            {text: $t('sitenav_label_caselist'), href: '/mgmt/case/caselist'},
            {text: $t('sitenav_label_caseshow'), href: `/mgmt/case/caseshow?c=${ref_case_value}`},
        ]"
        >
        </Sitenav>

        <v-row justify="center" class="mt-6" no-gutters>
            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-center">
                <Dialog 
                    ref="component_dialog"
                    :ref_case="ref_case_value"
                >
                </Dialog>
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-center">
                <Caseedit 
                    :ref_case_value="ref_case_value"
                    :ref_case_isnew="ref_case_isnew"

                    v-on:ev_caseedit_submit__success="() => this.$refs['component_dialog'].$fetch()"
                    v-on:ev_caseedit_submit__failure="() => this.$refs['component_dialog'].$fetch()"
                >
                </Caseedit>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    computed: {
        ref_case_value(): string {
            return this.$route.query!['c'] as string || ''
        },
        ref_case_isnew(): boolean {
            return false;
        },
    }
})
</script>

<style scoped>

</style>
