<template>
    <div>
        <Sitenav :items="[
            {text: $t('sitenav_label_mgmt'), href: '/mgmt'}, 
            {text: $t('sitenav_label_case'), href: '' },
            {text: $t('sitenav_label_caselist'), href: '/mgmt/case/caselist'},
        ]"
        >
        </Sitenav>

        <v-row justify="center">
            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-center">
                <Caselist
                    v-on:ev_caselist_element_click="ev_caselist_element_click"
                >
                </Caselist>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { IModelCase } from '~/tsmodules/api/case/models'

export default Vue.extend({
    methods: {
        ev_caselist_element_click(v: IModelCase) {
            this.$router.push(`/mgmt/case/caseshow?c=${v.id}`)
        },
    }
})
</script>

<style scoped>

</style>
