<template>
  
  <v-app id="inspire">

    <v-app-bar
      app
      absolute
      dark
      color="primary"
    >
      <v-row no-gutters>
        <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>

        <v-col cols="12" xs="12" sm="12" md="10" lg="8" xl="8">
          <v-row align="center">
            <v-col cols="9" sm="9" md="9" lg="6" xl="6" class="navleft-container">
              <nuxt-link to="/" class="navleft-text">
                <b :class="$vuetify.breakpoint.mdAndUp ? 'font--headline1' : 'font--headline1sm'" class="my-0 py-0 navleft-text-top">
                  <AssetsTextGet
                    name="title01"
                    data_fallback="Reveil"
                  >
                  </AssetsTextGet>
                </b>
                <i :class="$vuetify.breakpoint.mdAndUp ? 'font--headline3' : 'font--headline3sm'" class="my-0 py-0">
                  <AssetsTextGet
                    name="title02"
                    data_fallback="OpenSource Whistleblower Platform"
                  >
                  </AssetsTextGet>
                </i>
              </nuxt-link>
            </v-col>

            <v-col cols="3" sm="3" md="3" lg="6" xl="6" class="navright-container">
              <nuxt-link v-if="!is_user_or_mgmt" to="/login/user" class="navright-text">
                <v-icon dense>
                  mdi-account
                </v-icon>

                <template
                  v-if="$vuetify.breakpoint.mdAndUp"
                >
                  {{ $t('layoutnavbar_label_login') }}
                </template>
              </nuxt-link>

              <!--
              <template v-if="is_user">
                <nuxt-link to="/user" class="navright-text">
                <v-icon dense>mdi-dots-grid</v-icon>
                {{ $t('layoutnavbar_label_userdashboard') }}
              </nuxt-link>
                <small class="navright-text">
                  |
                </small>
              </template>
              -->

              <template v-if="is_mgmt">
                <nuxt-link  to="/mgmt" class="navright-text">
                  <v-icon dense>mdi-dots-grid</v-icon>
                  <template
                    v-if="$vuetify.breakpoint.lgAndUp"
                  >
                    {{ $t('layoutnavbar_label_mgmtdashboard') }}
                  </template>
                </nuxt-link>
                <small 
                  v-if="$vuetify.breakpoint.lgAndUp"
                  class="navright-text"
                >
                  |
                </small>
              </template>

              <a v-if="is_user_or_mgmt" v-on:click="ev_logout_click" class="navright-text">
                <v-icon dense>mdi-exit-to-app</v-icon>
                <template
                  v-if="$vuetify.breakpoint.lgAndUp"
                >
                  {{ $t('layoutnavbar_label_logout') }}
                </template>
              </a>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>
      </v-row>
    </v-app-bar>

    <v-main>
      <v-row no-gutters class="content-container">
        <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>

        <v-col cols="12" xs="12" sm="12" md="10" lg="8" xl="8" class="contentmiddle-container">
          <div style="height: 100%;" class="pa-3">
              <Nuxt />
          </div>
        </v-col>

        <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>
      </v-row>
    </v-main>

    <v-footer
      app
      color="primary"
    >
      <v-row no-gutters>
        <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>

        <v-col cols="12" xs="12" sm="12" md="10" lg="8" xl="8">
          <v-row no-gutters align="center">
            <v-col cols="8" class="footerleft-container">
              <nuxt-link to="/impressum" class="footerleft-text">
                {{ $t('layoutfooter_label_impressum') }}
              </nuxt-link>
              <small class="footerleft-text">
                |
              </small>
              <nuxt-link to="/consent" class="footerleft-text">
                {{ $t('layoutfooter_label_consent') }}
              </nuxt-link>
              <small class="footerleft-text">
                |
              </small>
              <nuxt-link to="/aboutus" class="footerleft-text">
                {{ $t('layoutfooter_label_aboutus') }}
              </nuxt-link>
            </v-col>

            <v-col cols="4" class="footerright-container">
              <span class="footerright-text">
                {{ new Date().getFullYear() }} <strong>Reveil</strong>
              </span>
            </v-col>
          </v-row>
        </v-col>
        
        <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  computed: {
    is_user_or_mgmt(): boolean {
      return this.$tsmapi.authuser().AuthUserState() !== null || this.$tsmapi.authmgmt().AuthMgmtState() !== null
    },
    is_mgmt(): boolean {
      return this.$tsmapi.authmgmt().AuthMgmtState() !== null
    },
    is_user(): boolean {
      return this.$tsmapi.authuser().AuthUserState() !== null
    },
  },

  methods: {
    ev_logout_click() {
      this.$tsmapi.authuser().AuthUserLogout()
      this.$tsmapi.authmgmt().AuthMgmtLogout()
      this.$router.push("/")
    },
  },
})
</script>

<style scoped>
.navleft-container {
  text-align: left;
  vertical-align: center;
}
.navleft-text {
  color: var(--v-primarytext-base);
  font-size: 26px;
  font-family: 'Baloo2-Regular';
  text-decoration: none;
}
.navleft-text-top {
  display: block; 
  margin-bottom: -10px !important;
}
.navleft-text-bottom {

}
.navright-container {
  text-align: right;
  vertical-align: center;
}
.navright-text {
  color: var(--v-primarytext-base);
  font-size: 16px;
  font-family: 'Baloo2-Regular';
  text-decoration: none;
}

.content-container {
  height: 100%; 
  background: #F1F1F1;
}
.contentmiddle-container {
  height: 100%;
  border-left: 1px solid var(--v-primary-lighten3); 
  border-right: 1px solid var(--v-primary-lighten3); 
  background: #FFF;
}

.footerleft-container {
  text-align: left;
  vertical-align: center;
}
.footerleft-text {
  color: var(--v-primarytext-base);
  font-size: 15px;
  font-family: 'Baloo2-Regular';
  text-decoration: none;
}
.footerright-container {
  text-align: right;
  vertical-align: center;
}
.footerright-text {
  color: var(--v-primarytext-base);
  font-size: 16px;
  font-family: 'Baloo2-Regular';
  text-decoration: none;
}
</style>
