<template>
    <v-row 
        no-gutters
        style="height: 100%;"
    >
        <v-col 
            cols="12" xs="12" sm="12" md="12" lg="12" xl="12" 
            class="pa-5 pt-10 colmiddle-container text-center" 
        >
            <h1 class="font--headline1">{{ $t('layouterror_label_headline1') }}</h1>
            <h2 class="font--headline2">{{ $t('layouterror_label_headline2') }}</h2>

            <v-divider class="my-3"/>

            <img src="@/assets/images/error.jpg" class="img" />

            <v-divider class="my-3"/>

            <NuxtLink to="/" class="font--headline3 black--text">
                {{ $t('layouterror_label_linkback') }}
            </NuxtLink>
        </v-col>
    </v-row>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null
    }
  },
}
</script>

<style scoped>
.img {
  height: 200px;
}
</style>
