<template>
    <v-row 
        no-gutters
        style="height: 100%;"
    >
        <v-col
            cols="12" xs="12" sm="12" md="7" lg="8" xl="8"
            class="pa-3 colleft-container text-center"
        >
            <AssetsImageGet
                name="logolarge"
                width="80%"
                class="colleft-image" 
            >
            </AssetsImageGet>
        </v-col>
        <v-col 
            cols="12" xs="12" sm="12" md="5" lg="4" xl="4" 
            class="pa-5 pt-10 colright-container" 
            :style="{ background: 'url(' + require('@/assets/images/mesh.jpg') + ')' }"
        >
            <LoginMgmt
                v-on:ev_login_submit_success="() => $router.push('/mgmt')"
            >
            </LoginMgmt>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    layout: 'defaultnb',
})
</script>

<style scoped>
.colleft-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.colleft-image {
    width: 80%;
    
}
.colright-container {
    box-shadow: 0 0 10px #363b3f;
}
</style>
