<template>
    <v-row 
        no-gutters
        style="height: 100%;"
    >
        <v-col
            cols="12" xs="12" sm="12" md="7" lg="8" xl="8"
            class="pa-3 colleft-container text-center"
        >
            <AssetsImageGet
                name="logolarge"
                width="80%"
                class="colleft-image" 
            >
            </AssetsImageGet>
        </v-col>
        <v-col 
            cols="12" xs="12" sm="12" md="5" lg="4" xl="4" 
            class="pa-5 pt-10 colright-container" 
            :style="{ background: 'url(' + require('@/assets/images/mesh.jpg') + ')' }"
        >
            <InlineInfo class="mb-3">
                <template v-slot:head>
                    {{ $t('ploginuser_infobox_head') }}
                </template>
                <template v-slot:body>
                    {{ $t('ploginuser_infobox_body')}}
                </template>
            </InlineInfo>

            <v-expansion-panels
                flat
                :value="($route.query['c'] || null) === null ? null : 0"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>
                        {{ $t('ploginuser_label_ec') }}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <LoginUserEC
                            v-on:ev_login_submit_success="() => $router.push('/user')"
                            :init_caseid_value="($route.query['c'] || null) === null ? '' : $route.query['c']"
                        >
                        </LoginUserEC>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header>
                        {{ $t('ploginuser_label_nc') }}                        
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <LoginUserNC
                            v-on:ev_login_submit_success="() => $router.push('/user')"
                        >
                        </LoginUserNC>                        
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    layout: 'defaultnb',
})
</script>

<style scoped>
.colleft-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.colleft-image {
    width: 80%;
}
.colright-container {
    box-shadow: 0 0 10px #363b3f;
}
</style>
