<template>
    <div>
        <LoadingProgress
            v-if="tx_active === true"
            :tx_citem="tx_citem.toString()"
            :tx_items="tx_items.toString()"
        >
        </LoadingProgress>
        
        <template v-else>
            <InlineInfo v-if="ref_case_isnew === true" class="mt-0 pt-0 mb-5">
                <template v-slot:head>
                    {{ $t('caseedit_label_caseisnew_head') }}
                </template>
                <template v-slot:body>
                    {{ $t('caseedit_label_caseisnew_body')}}
                </template>
            </InlineInfo>

            <v-row>
                <v-col cols="12" sm="12" md="3" class="text-left mt-8">
                    <CaseeditQrcode
                        :ref_case="ref_case_value"
                    >
                    </CaseeditQrcode>

                    <v-divider class="my-1" />

                    <span>
                        <v-icon class="red--text text--darken-1">mdi-alert</v-icon>
                        {{ $t('caseedit_label_savecaseref') }}
                    </span>
                </v-col>

                <v-col cols="12" sm="12" md="9">
                    <Editor
                        v-on:ev_editor_submit="ev_editor_submit"
                    >
                    </Editor>
                </v-col>
            </v-row>
        </template>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelCase } from '~/tsmodules/api/case/models'
import { IModelMessagePayload } from '~/tsmodules/api/message/models'


export default Vue.extend({
    data() {
        return {
            // component
            // // // // // // // // // // // // // // // // // // // // 
            data: {} as IModelCase,

            tx_active: false,       // sending active
            tx_citem: 0,            // current item
            tx_items: 0,            // all items
        }
    },

    props: {
        // component
        // // // // // // // // // // // // // // // // // // // // 
        ref_case_value: {
            type: String,
            default: '',
        },
        ref_case_isnew: {
            type: Boolean,
            default: false,
        },
    },

    methods: {
        // editor
        // // // // // // // // // // // // // // // // // // // // 
        async ev_editor_submit(payload: { subject: string, content_html: string, content_data: string, upload: Array<File> }) {
            // animation :: start
            this.tx_citem = 0;
            this.tx_items = payload.upload.length + 1
            this.tx_active = true;
            
            try {
                // send :: case (if not exists)
                if(this.ref_case_isnew === true && (await this.$tsmapi.case().CaseExists(this.ref_case_value)) === false) {
                    await this.$tsmapi.case().CasePost(this.ref_case_value)
                }

                // send :: message
                this.tx_citem = this.tx_citem + 1
                var resp_message = await this.$tsmapi.message().MessagePost(this.ref_case_value, null, { subject: payload.subject, message: payload.content_html } as IModelMessagePayload)

                // send :: file
                for(var f of payload.upload) {
                    this.tx_citem = this.tx_citem + 1
                    await this.$tsmapi.file().FilePost(this.ref_case_value, resp_message.ref_obj, null, f)
                }

                // emit :: success
                this.$emit('ev_caseedit_submit__success')
            }
            catch {
                this.$emit('ev_caseedit_submit__failure')
            }
            
            // animation :: stop
            this.tx_active = false
            this.tx_citem = 0
            this.tx_items = 0
        },
    },
})
</script>

<style scoped>

</style>