<template>
    <div>
        <div v-html="qrcode_image"></div>

        <v-row 
            class="ma-0 py-0 px-3"
        >
            <v-col cols="10" class="ma-0 py-0 px-1">
                <v-text-field 
                    readonly 
                    outlined 
                    dense 
                    class="text-caption" 
                    :value="qrcode_value"
                >
                </v-text-field>
            </v-col>

            <v-col cols="2" class="ma-0 py-0 px-1">
                <v-tooltip right>
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon 
                            v-bind="attrs" 
                            v-on="on" 
                            @click="clipboard_write" 
                            class="mt-2"
                        >
                            mdi-content-copy
                        </v-icon>
                    </template>
                    
                    <span>{{ $t('caseeditqrcode_label_clipboard') }}</span>
                </v-tooltip>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import QrCode from '~/tsmodules/qrcode'

export default Vue.extend({
    data() {
        return {
            qrcode_image: '',
            qrcode_value: '',
        }
    },

    props: {
        ref_case: {
            type: String,
            default: '',
        },
    },

    watch: {
        ref_case: {
            immediate: true,
            handler: async function(nv: string, ov: string) {
                this.qrcode_value = (await this.$tsmapi.bootstrap().GetValues()).api + "/login/user/?c=" + nv
                this.qrcode_image = await new QrCode().GenerateSVG(this.qrcode_value)
            },
        }
    },

    methods: {
        async clipboard_write() {
            navigator.clipboard.writeText(this.qrcode_value)
        }
    }
})
</script>

<style scoped>

</style>
