<template>
    <div>
        <v-skeleton-loader
            v-if="skeleton === true && ($fetchState.pending || data === '')"
            type="image"
            :style="{ 'width': width, 'height': height, 'max-width': '100%' }"
        ></v-skeleton-loader>

        <img 
            v-else
            :src="data"
            :style="{ 'width': width, 'height': height, 'max-width': '100%' }"
        />
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            data: '',
        }
    },

    props: {
        name: {
            type: String,
            required: true,
        },
        width: {
            type: String,
            default: 'auto',
        },
        height: {
            type: String,
            default: 'auto',
        },
        skeleton: {
            type: Boolean,
            default: false,
        },
    },

    async fetch() {
        this.data = ''
        this.$tsmapi.content().ContentGet(this.name, 'assets-image')
        .then((e) => {
            this.data = e.response?.content! || ''
        })
        .catch((e) => {
            // silent
        })
    },
})
</script>

<style scoped>

</style>
