<template>
    <div>
        <v-row
            align="center"
        >
            <v-col
                cols="9"
                class="text-left"
            >
                <v-row
                    no-gutters
                >
                    <v-col
                        cols="6"
                        class="text-left"
                    >
                        <span 
                            v-if="i18n_title !== ''"
                            class="font--headline2 text-left"
                        >
                            {{ $t(i18n_title) }}
                        </span>
                    </v-col>

                    <v-col
                        cols="6"
                        class="text-right"
                    >
                        <span 
                            v-if="status === 1"
                            class="font--content2 text-right"
                        >
                            {{ $t('assetscolorset_status_upload') }}
                        </span>
                        <span 
                            v-if="status === 2"
                            class="font--content2 text-right success--text"
                        >
                            {{ $t('assetscolorset_status_success') }}
                        </span>
                        <span 
                            v-if="status === 3"
                            class="font--content2 text-right error--text"
                        >
                            {{ $t('assetscolorset_status_failed') }}
                        </span>
                    </v-col>
                </v-row>

                <v-row
                    class="color-row"
                    no-gutters
                >
                    <v-col cols="12">
                        <v-color-picker
                            v-if="status !== 1"
                            v-model="data"
                            flat
                            hide-canvas
                            hide-sliders
                            hide-mode-switch
                            width="auto"
                            :label="$t(i18n_label_color)"
                        >
                        </v-color-picker>

                        <v-progress-linear
                            v-if="status === 1"
                            indeterminate
                            color="primary darken-2"
                        ></v-progress-linear>
                    </v-col>
                </v-row>
            </v-col>

            <v-col
                cols="3"
                class="text-right"
            >
                <div
                    class="color-corner"
                    :style="{ 'background': data }"
                >
                    &nbsp;
                </div>
            </v-col>
        </v-row>

        <v-row 
            justify="end"
            no-gutters
        >
            <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3" class="ma-0 pa-0">
                <v-btn 
                    block 
                    @click="ev_color_submit"
                    class="my-0 py-0"
                >
                    {{ $t(i18n_label_submit) }}
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import { validate } from 'uuid'
import Vue, { PropType } from 'vue'
import { IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            // status = 0 => default
            // status = 1 => uploading
            // status = 2 => success
            // status = 3 => error
            status: 0,
            data: '' as string | null,
        }
    },

    props: {
        name: {
            type: String,
            required: true,
        },
        i18n_title: {
            type: String,
            default: 'assetscolorset_title',
        },
        i18n_label_color : {
            type: String,
            default: 'assetscolorset_label_color',
        },
        i18n_label_submit : {
            type: String,
            default: 'assetscolorset_label_submit',
        },
    },

    methods: {
        async ev_color_submit() {
            if(this.data === null) {
                return
            }

            this.status = 1
            this.$tsmapi.content().ContentSet(this.name, "assets-color", {
                data: this.data!
            } as IModelContentPayload)
            .then((e) => {
                this.status = 2;
                this.$fetch()
            })
            .catch(() => {
                this.status = 3
            })
        },
    },

    async fetch() {
        this.data = '#000000'
        this.data = (await this.$tsmapi.content().ContentGet(this.name, "assets-color")).payload.data || '#000000'
    },
})
</script>

<style scoped>
.color-row {
    min-height: 110px;
}
.color-corner {
    width: 100%;
    height: 75px;
    border-radius: 8px;
    display: inline-block;
}
</style>
