<template>
    <div>
        <v-row>
            <v-col
                cols="6"
                class="text-left"
            >
                <span 
                    v-if="i18n_title !== ''"
                    class="font--headline2 text-left"
                >
                    {{ $t(i18n_title) }}
                </span>
            </v-col>

            <v-col
                cols="6"
                class="pt-4 text-right"
            >
                <span 
                    v-if="status === 1"
                    class="font--content2 text-right"
                >
                    {{ $t('assetstextset_status_upload') }}
                </span>
                <span 
                    v-if="status === 2"
                    class="font--content2 text-right success--text"
                >
                    {{ $t('assetstextset_status_success') }}
                </span>
                <span 
                    v-if="status === 3"
                    class="font--content2 text-right error--text"
                >
                    {{ $t('assetstextset_status_failed') }}
                </span>
            </v-col>
        </v-row>

        <div class="mt-3" style="height: 45px;">
            <v-text-field
                v-if="status !== 1"
                :label="$t(i18n_label_text)"
                :rules="text_rules"
                :prepend-icon="text_icon"
                v-model="text_value"
                chips
                show-size
                dense
            ></v-text-field>

            <v-progress-linear
                v-if="status === 1"
                indeterminate
                color="primary darken-2"
            ></v-progress-linear>
        </div>

        <v-row 
            justify="end"
            no-gutters
        >
            <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
                <v-btn 
                    block 
                    @click="ev_text_submit"
                    class="my-0 py-0"
                >
                    {{ $t(i18n_label_submit) }}
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            // status = 0 => default
            // status = 1 => uploading
            // status = 2 => success
            // status = 3 => error
            status: 0,
            text_value: '' as string | null,
        }
    },

    props: {
        name: {
            type: String,
            required: true,
        },
        i18n_title: {
            type: String,
            default: 'assetstextset_title',
        },
        text_icon: {
            type: String,
            default: 'mdi-image',
        },
        i18n_label_text : {
            type: String,
            default: 'assetstextset_label_text',
        },
        i18n_label_submit : {
            type: String,
            default: 'assetstextset_label_submit',
        },
        text_rules: {
            type: Array,
            default: () => [],
        },
    },

    methods: {
        async ev_text_submit() {
            if(this.text_value === null) {
                return
            }

            this.status = 1
            this.$tsmapi.content().ContentSet(this.name, "assets-text", {
                data: this.text_value!
            } as IModelContentPayload)
            .then((e) => {
                this.status = 2;
                this.$fetch()
            })
            .catch(() => {
                this.status = 3
            })
        },
    },

    async fetch() {
        this.text_value = (await this.$tsmapi.content().ContentGet(this.name, "assets-text")).payload.data
    },
})
</script>

<style scoped>

</style>
