<template>
    <v-btn 
        block 
        @click="$emit('ev_editorsubmit_submit')"
        class="my-0 py-0"
    >
        {{ $t(submit_i18ntag) }}
    </v-btn>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        submit_i18ntag: {
            type: String,
            default: 'genericinlineeditor__submit',
        },
    },
})
</script>

<style scoped>

</style>
