<template>
    <v-text-field
        :label="$t(subject_i18ntag)"
        :rules="subject_rules"
        :prepend-icon="subject_icon"
        v-model="subject__value"

        hide-details="auto"
        class="my-0 py-0 font--content1"
    ></v-text-field>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            subject__value: '',
        }
    },

    props: {
        subject_value: {
            type: String,
            default: '',
        },
        subject_icon: {
            type: String,
            default: 'mdi-text',
        },
        subject_rules: {
            type: Array,
            default: () => [],
        },
        subject_i18ntag: {
            type: String,
            default: 'genericinlineeditor__subject',
        },
    },

    watch: {
        subject_value: {
            deep: true,
            immediate: true,
            handler: function(nv: string, ov: string) {
                this.subject__value = nv
            },
        },
    },

    computed: {
        value_text(): string {
            return this.subject__value
        },
    },
})
</script>

<style scoped>

</style>
