<template>
    <div 
        :id="editor__id"
        class="editor-instance my-0 py-0 font--content1" 
    ></div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import Quill from 'quill'
import { RndGen } from '~/tsmodules/rndgen'

export default Vue.extend({
    data() {
        return {
            editor__id: '',
            editor__instance: {} as Quill,
        }
    },

    props: {
        content_value: {
            type: String,
            default: '',
        },
    },

    watch: {
        content_value: {
            deep: true,
            handler: function(nv: string, ov: string) {
                this.set_content(nv)
            },
        },
    },

    computed: {
        content_html(): string {
            return this.editor__instance.root.innerHTML
        },

        content_data(): string {
            return JSON.stringify(this.editor__instance.getContents())
        },
    },

    methods: {
        set_content(value: string): void {
            try {
                this.editor__instance.setContents(JSON.parse(value));
            }
            catch(e) {
                this.editor__instance.setText('')
            }
        },
    },

    beforeMount() {
        this.editor__id = "editor-" + new RndGen().UUIDv4().toString()
    },

    mounted() {
        this.editor__instance = new Quill("#" + this.editor__id, { theme: 'snow' })
        this.set_content(this.content_value)
    },
})
</script>

<style scoped>
.editor-instance {
    height: 340px;
}

.editor-instance > h1 {
    font-family: 'Baloo2-SemiBold';
    font-size: 20px;
    letter-spacing: 1.4px;
}
.editor-instance > h2 {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
}
.editor-instance > h3 {
    font-family: 'Baloo2-Regular';
    font-size: 16px;
}
.editor-instance > p, .editor-instance > p *, .editor-instance > ul * {
    font-size: 16px;
}
</style>
