<template>
    <div 
        class="my-6 font--editor1" 
        v-html="get_html"
    ></div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContent, IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            data: {} as IModelContent,
        }
    },

    props: {
        name: {
            type: String,
            required: true,
        },
        lang: {
            type: String,
            required: true,
        },
    },

    computed: {
        get_html(): string {
            return this.data?.payload?.data || ''
        },
    },

    async fetch() {
        await this.$tsmapi.content().ContentGet(this.name + "___html", this.lang)
        .then((e) => {
            this.data = e
        })
        .catch((e) => {
            // silent
        })
    },
})
</script>

<style scoped>

</style>
