<template>
    <div>
        <Sitenav :items="[
            {text: $t('sitenav_label_mgmt'), href: '/mgmt'}, 
            {text: $t('sitenav_label_settings'), href: '' },
            {text: $t('sitenav_label_consent'), href: '/mgmt/content/consent'},
        ]"
        >
        </Sitenav>
        
        <v-row justify="center">
            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-center">
                <InlineLanguage
                    :langs="[{ name: 'German', code: 'de' }, { name: 'English', code: 'en' }]"
                    v-on:ev_inlinelanguage_change="(e) => lang = e"
                >
                </InlineLanguage>
                <ContentSet
                    v-if="lang != ''"
                    name="consent"
                    :lang="lang"
                ></ContentSet>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    data() {
        return {
            lang: '',
        }
    },
})
</script>

<style scoped>

</style>
