<template>
    <div>
        <Sitenav :items="[
            {text: $t('sitenav_label_mgmt'), href: '/mgmt'}, 
        ]"
        >
        </Sitenav>
        <v-row justify="center">

            <v-col cols="12" xs="12" sm="12" md="12" lg="10" xl="10" class="text-center">
                

                <v-row class="mt-6">
                    <v-col class="text-left">
                        <h3 class="font--headline-3">&gt;&gt;&nbsp;{{ $t('pmgmtdashboard_cases') }}</h3>
                    </v-col>
                </v-row>

                <v-row class="pa-0 ma-0">
                    <v-col cols="6" xs="6" sm="6" md="4" lg="4" xl="4" class="text-left pa-1">
                        <InlineLinkbox
                            icon="mdi-account"
                            link="/mgmt/case/caselist"
                        >
                            <template slot="body">
                                {{ $t('pmgmtdashboard_caselist') }}
                            </template>
                        </InlineLinkbox>
                    </v-col>

                    <!--
                    <v-col cols="6" xs="6" sm="6" md="4" lg="4" xl="4" class="text-left pa-1">
                        <InlineLinkbox
                            icon="mdi-account"
                            link="/mgmt/case/caselist"
                        >
                            <template slot="body">
                                {{ $t('pmgmtdashboard_events') }}
                            </template>
                        </InlineLinkbox>
                    </v-col>
                    -->

                    <!--
                    <v-col cols="6" xs="6" sm="6" md="4" lg="4" xl="4" class="text-left pa-1">
                        <InlineLinkbox
                            icon="mdi-account"
                            link="/mgmt/case/caselist"
                        >
                            <template slot="body">
                                {{ $t('pmgmtdashboard_calendar') }}
                            </template>
                        </InlineLinkbox>
                    </v-col>
                    -->
                </v-row>

                <v-row class="mt-6">
                    <v-col class="text-left">
                        <h3 class="font--headline-3">&gt;&gt;&nbsp;{{ $t('pmgmtdashboard_contents') }}</h3>
                    </v-col>
                </v-row>

                <v-row class="pa-0 ma-0">
                    <v-col cols="6" xs="6" sm="6" md="4" lg="4" xl="4" class="text-left pa-1">
                        <InlineLinkbox
                            icon="mdi-account"
                            link="/mgmt/settings/startpage"
                        >
                            <template slot="body">
                                {{ $t('pmgmtdashboard_startpage') }}
                            </template>
                        </InlineLinkbox>
                    </v-col>

                    <v-col cols="6" xs="6" sm="6" md="4" lg="4" xl="4" class="text-left pa-1">
                        <InlineLinkbox
                            icon="mdi-account"
                            link="/mgmt/settings/consent"
                        >
                            <template slot="body">
                                {{ $t('pmgmtdashboard_consent') }}
                            </template>
                        </InlineLinkbox>
                    </v-col>

                    <v-col cols="6" xs="6" sm="6" md="4" lg="4" xl="4" class="text-left pa-1">
                        <InlineLinkbox
                            icon="mdi-account"
                            link="/mgmt/settings/impressum"
                        >
                            <template slot="body">
                                {{ $t('pmgmtdashboard_impressum') }}
                            </template>
                        </InlineLinkbox>
                    </v-col>

                    <v-col cols="6" xs="6" sm="6" md="4" lg="4" xl="4" class="text-left px-1 pt-0">
                        <InlineLinkbox
                            icon="mdi-account"
                            link="/mgmt/settings/aboutus"
                        >
                            <template slot="body">
                                {{ $t('pmgmtdashboard_aboutus') }}
                            </template>
                        </InlineLinkbox>
                    </v-col>
                </v-row>

                <v-row class="mt-6">
                    <v-col class="text-left">
                        <h3 class="font--headline-3">&gt;&gt;&nbsp;{{ $t('pmgmtdashboard_settings') }}</h3>
                    </v-col>
                </v-row>

                <v-row class="pa-0 ma-0">
                    <v-col cols="6" xs="6" sm="6" md="4" lg="4" xl="4" class="text-left px-1 pt-0">
                        <InlineLinkbox
                            icon="mdi-account"
                            link="/mgmt/settings/customization"
                        >
                            <template slot="body">
                                {{ $t('pmgmtdashboard_customization') }}
                            </template>
                        </InlineLinkbox>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            
        }
    },
})
</script>

<style scoped>

</style>
