<template>
    <div
        class="mb-5 sitenav-container"
    >
        <v-row
            no-gutters
            align="center"
        >
            <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6" class="mb-1 text-left">
                <v-breadcrumbs
                    :items="items"
                    divider=">>"
                >
                    <template v-slot:item="{ item }">
                        <!-- BREADCRUMB with NUXT-LINK -->
                        <nuxt-link
                            v-if="item.href"
                            :to="item.href !== '' ? item.href : ''"
                        >
                            <v-breadcrumbs-item>
                                <h3 :class="$vuetify.breakpoint.mdAndUp ? 'font--headline3' : 'font--headline3sm'">{{ item.text.toUpperCase() }}</h3>
                            </v-breadcrumbs-item>
                        </nuxt-link>

                        <!-- BREADCRUMB without LINK -->
                        <v-breadcrumbs-item
                            v-else
                        >
                            <h3 :class="$vuetify.breakpoint.mdAndUp ? 'font--headline3' : 'font--headline3sm'">{{ item.text.toUpperCase() }}</h3>
                        </v-breadcrumbs-item>
                    </template>
                </v-breadcrumbs>
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6" class="mb-1 pr-6 text-right">
                <slot></slot>
            </v-col>
        </v-row>
    </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {

        }
    },

    props: {
        items: {
            type: [] as PropType<Array<{ text: string, link: string }>>,
            default: () => [],
        },
    },
})
</script>

<style scoped>
.sitenav-container {
    border-bottom: 1px solid var(--v-primary-lighten4);
}
</style>
