<template>
    <v-timeline-item
        :color="get_color"
        :icon="get_icon"
        fill-dot
    >
        <v-card
            :color="get_color"
            class="elevation-2"
            dark
        >
            <v-card-title 
                class="card-title font--headline2 py-1"
            >
                <div>
                    {{ get_author }}
                </div>
            </v-card-title>

            <v-card-text 
                class="card-text white text--primary"
            >
                <p class="text-left font--content1 pt-4">
                    {{ get_subject }}
                </p>
                
                <v-divider class="card-text-divider mb-4"></v-divider>
                
                <p class="text-left font--content2" v-html="get_message"></p>

                <v-row class="mt-3">
                    <v-col cols="12" sm="12" md="9" xl="10" class="text-left">
                        <div>
                            <v-icon v-if="get_files.length !== 0" color="blue darken-3">mdi-paperclip</v-icon>
                            <span v-if="get_files.length !== 0" class="text-left card-text-files">
                                <template v-for="f in get_files">
                                    <DialogMessageDl
                                        :key="f.response.fileId"
                                        :file="f"
                                    ></DialogMessageDl>
                                </template>
                            </span>
                        </div>
                    </v-col>
                    <v-col cols="12" sm="12" md="3" xl="2" class="text-right">
                        <div>
                            <small class="text-right font--content3 my-0">
                                {{ get_date }}
                            </small>
                        </div>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-timeline-item>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelFile } from '~/tsmodules/api/file/models'
import { IModelMessage } from '~/tsmodules/api/message/models'

export default Vue.extend({
    props: {
        ref_case: {
            type: String,
            required: true,
        },
        message: {
            type: Object as PropType<IModelMessage>,
            required: true,
        }
    },

    computed: {
        get_files(): Array<IModelFile> {
            return this.message.computed_files
        },
        get_subject(): string {
            return this.message.payload.subject
        },
        get_message(): string {
            return this.message.payload.message
        },
        get_message_send(): boolean {
            return true;
        },
        get_message_read(): boolean {
            return false;
        },
        get_date(): string {
            var t = new Date(this.message.response.creationDate || '')
            return t.toLocaleString('de-DE')
        },
        get_author(): string {
            if(this.message.computed_author !== null) {
                return this.$t('dialogmessage_messagefrom_mgmt').toString().replace("{{ mgmt.name }}", this.message.computed_author.response.name || '')
            }
            return this.$tsmapi.authuser().AuthUserState() !== null ? this.$t('dialogmessage_messagefrom_self').toString() : this.$t('dialogmessage_messagefrom_anon').toString()
        },
        get_icon(): string {
            if(this.message.computed_author !== null) {
                return 'mdi-account-group';
            } 
            return 'mdi-account';
        },
        get_color(): string {
            var name = this.message.computed_author?.response.name || '#';
            var colors = ["#e51c23", "#e91e63", "#9c27b0", "#673ab7", "#3f51b5", "#5677fc", "#03a9f4", "#00bcd4", "#009688", "#259b24", "#8bc34a", "#afb42b", "#ff9800", "#ff5722", "#795548", "#607d8b"]
            var hash = 0;
            if (name.length === 0) return '';
            for (var i = 0; i < name.length; i++) {
                hash = name.charCodeAt(i) + ((hash << 5) - hash);
                hash = hash & hash;
            }
            hash = ((hash % colors.length) + colors.length) % colors.length;
            return (name !== '#') ? colors[hash] : '#555555';
        },
    },
})
</script>

<style scoped>
.card-text-divider {
    border-bottom: 1px solid #CCC;
}
</style>
