<template>
    <!-- with tooltip -->
    <v-tooltip bottom v-if="get_filename_abbr != get_filename_full">
        <template v-slot:activator="{ on, attr }">
            <v-chip
                class="mx-2 my-1"
                color="blue darken-3"
                outlined
                small
                label
                v-bind="attr"
                v-on="on"
                @click.prevent="get_filedata()"
            >
                {{ get_filename_abbr }}
            </v-chip>
        </template>
        <span>{{ get_filename_full }}</span>
    </v-tooltip>

    <!-- without tooltip -->
    <v-chip
        v-else
        class="mx-2 my-1"
        color="blue darken-3"
        outlined
        small
        label
        @click.prevent="get_filedata()"
    >
        {{ get_filename_abbr }}
    </v-chip>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelFile } from '~/tsmodules/api/file/models'

export default Vue.extend({
    props: {
        file: {
            type: Object as PropType<IModelFile>,
            required: true,
        }
    },

    computed: {
        get_filename_abbr(): string {
            var abbr_len = 15;
            var abbr_orig = this.file.response.fileName || ''
            if (abbr_orig.length <= abbr_len) return abbr_orig;
            return abbr_orig.substr(0, abbr_len) + "...";
        },
        get_filename_full(): string {
            return this.file.response.fileName || ''
        }
    },

    methods: {
        get_filedata(): Promise<void> {
            return this.$tsmapi.file().FileDataGet(this.file.response.caseId || '', this.file.response.messageId || '', this.file.response.fileId || '')
            .then((e) => {
                var link = document.createElement('a');
                document.body.appendChild(link);
                link.setAttribute('download', this.get_filename_full); //or any other extension
                // link.setAttribute("type", "hidden");
                link.href = e.payload.data || '';
                link.click();
                document.body.removeChild(link);
            })
            .catch((e) => {
                // silent
            })
        },
    }
})
</script>

<style scoped>
.card-text-subject {
    font-size: 16px;
    font-weight: bold;
}
.card-text-message {
    font-size: 14px;
}
.card-text-meta {
    font-size: 12px;
    font-style: italic;
}
</style>
