<template>
    <v-form 
        ref="form"
        v-model="form_valid"
        @submit.prevent="submit"
    >
        <v-text-field
            :label="$t('loginmgmt_label_username')"
            :rules="username_rules"
            hide-details="auto"
            prepend-icon="mdi-account"
            @keyup.enter.prevent="submit"
            v-model="username_value"
            tabindex="100"
        ></v-text-field>

        <v-text-field
            :label="$t('loginmgmt_label_password')"
            :rules="password_rules"
            hide-details="auto"
            prepend-icon="mdi-lock"
            :type="password_show ? 'text' : 'password'"
            :append-icon="password_show ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="password_show = !password_show"
            @keyup.enter.prevent="submit"
            v-model="password_value"
            tabindex="101"
        ></v-text-field>

        <v-alert
            v-if="error_value"
            dense
            outlined
            type="error"
            class="my-3"
        >
            {{ error_value }}
        </v-alert>

        <div class="text-right">
            <v-btn
                elevation="2"
                @click="submit"
                class="my-6"
            >
                {{ $t('loginmgmt_label_login') }}
            </v-btn>
        </div>
    </v-form>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            form_valid: false,

            username_value: '',
            username_rules: [
                (value: string) => !!value || this.$t('loginmgmt_rules_username_required'),
            ],

            password_show: false,
            password_value: '',
            password_rules: [
                (value: string) => !!value || this.$t('loginmgmt_rules_password_required'),
                (value: string) => (value && value.length >= 8) || this.$t('loginmgmt_rules_password_length').toString().replace('{{ num_chars }}', '8'),
            ],

            error_value: '',
        }
    },

    methods: {
        submit() {
            (this.$refs.form as any).validate()
            if(this.form_valid === false) {
                return
            }

            // emit :: submit
            this.$emit("ev_login_submit")

            this.$tsmapi.authmgmt().AuthMgmtLogin(this.username_value, this.password_value, false)
            .then((e) => {
                if(e !== null && e?.response.isSuccess === true) {
                    // emit :: submit :: success
                    this.$emit("ev_login_submit_success")
                    
                } else {
                    // emit :: submit :: failure
                    this.$emit("ev_login_submit_failure");
                    this.error_value = this.$t('loginmgmt_error_unauthorized').toString();
                    (this.$refs.form as any).validate();
                }
            })
            .catch(() => {
                this.error_value = this.$t('loginmgmt_error_unauthorized').toString();
                this.$emit("ev_login_submit_failure");
            })
            .finally(() => {
                this.username_value = '';
                this.password_value = '';
                this.password_show = false;
                (this.$refs.form as any).reset();
            })
        }
    }
})
</script>

<style scoped>

</style>
