<template>
    <v-row>
        <v-col>
            <v-form 
                ref="formec"
                v-model="form_valid"
                @submit.prevent="submit"
            >
                <v-text-field
                    :label="$t('loginuserec_label_caseid')"
                    :rules="caseid_rules"
                    hide-details="auto"
                    prepend-icon="mdi-file-outline"
                    @keyup.enter.prevent="submit"
                    v-model="caseid_value"
                    tabindex="100"
                ></v-text-field>

                <v-text-field
                    :label="$t('loginuserec_label_password')"
                    :rules="password_rules"
                    hide-details="auto"
                    prepend-icon="mdi-lock"
                    :type="password_show ? 'text' : 'password'"
                    :append-icon="password_show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="password_show = !password_show"
                    @keyup.enter.prevent="submit"
                    v-model="password_value"
                    tabindex="101"
                ></v-text-field>

                <v-alert
                    v-if="error_value"
                    dense
                    outlined
                    type="error"
                    class="my-3"
                >
                    {{ error_value }}
                </v-alert>

                <div class="text-right">
                    <v-btn
                        elevation="2"
                        @click="submit"
                        class="my-6"
                    >
                        {{ $t('loginuserec_label_login') }}
                    </v-btn>
                </div>
            </v-form>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            form_valid: false,

            caseid_value: '',
            caseid_rules: [
                (value: string) => !!value || this.$t('loginuserec_rules_caseid_required'),
                (value: string) => (value && value.length >= 36) || this.$t('loginuserec_rules_caseid_length').toString().replace('{{ num_chars }}', '36'),
            ],
            
            password_show: false,
            password_value: '',
            password_rules: [
                (value: string) => !!value || this.$t('loginuserec_rules_password_required'),
                (value: string) => (value && value.length >= 8) || this.$t('loginuserec_rules_password_length').toString().replace('{{ num_chars }}', '8'),
            ],

            error_value: '',
        }
    },
    
    props: {
        init_caseid_value: {
            type: String,
            default: '',   
        },
    },

    watch: {
        init_caseid_value: {
            immediate: true,
            handler: function(nv: string, ov: string) {
                this.caseid_value = nv;
            },
        },
    },

    methods: {
        submit() {
            (this.$refs.formec as any).validate()
            if(this.form_valid === false) {
                return
            }

            // emit :: submit
            this.$emit("ev_login_submit")

            this.$tsmapi.authuser().AuthUserLogin('anonym', this.password_value, false, this.caseid_value)
            .then((e) => {
                if(e !== null) {
                    // emit :: submit :: success
                    this.$emit("ev_login_submit_success");
                }
                if(e === null) {
                    this.error_value = this.$t('loginuserec_error_login').toString();
                }
            })
            .catch(() => {
                this.error_value = this.$t('loginuserec_error_login').toString();
                this.$emit("ev_login_submit_failure");
            })
            .finally(() => {
                this.caseid_value = '';
                this.password_value = '';
                this.password_show = false;
                (this.$refs.formec as any).reset();
            })
        }
    }, 
})
</script>

<style scoped>

</style>
